<p id="notice"><%= notice %></p>

<h1>Works</h1>

<table>
  <thead>
    <tr>
      <th>Titre</th>
      <th>Date</th>
      <th>Oeuvre</th>
      <th>Quelques informations</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @works.each do |work| %>
      <tr>
        <td><%= work.title %></td>
        <td><%= work.image %></td>
        <td><%= work.date %></td>
        <td><%= work.description %></td>
        <td><%= link_to 'Afficher', work %></td>
        <td><%= link_to 'Editer', edit_work_path(work) %></td>
        <td><%= link_to 'Supprimer', work, method: :delete, data: { confirm: 'Êtes vous certain ?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Work', new_work_path %>
