<p id="notice"><%= notice %></p>

<p>
  <strong>Titre:</strong>
  <%= @work.title %>
</p>

<p>
  <strong>Date:</strong>
  <%= @work.date %>
</p>

<p>
  <strong>Oeuvre:</strong>
  <%= @work.image %>
</p>

<p>
  <strong>Description:</strong>
  <%= @work.description %>
</p>

<%= link_to 'Modifier', edit_work_path(@work) %> |
<%= link_to 'Retour', works_path %>
