<p id="notice"><%= notice %></p>
<center>
<h1>
<%= @continent.title %> 
</h1>

<div class="row">
    <% @continent.arts.each do |art| %>
		<div class="col-md-3">
			<%= image_tag art.image, class: 'img-fluid' %>
		</div>
	<% end %>
</div>

<%= link_to 'Edit', edit_continent_path(@continent) %> |
<%= link_to 'Back', continents_path %>
