
  <center>
    <br>
    <br>
    <blockquote class="blockquote text-center">
  <h2 class="mb-0">La femme naît libre et demeure égale à l'homme en droits.</h2>
  <footer class="blockquote-footer">Olympes de Gouges</footer>
</blockquote>
  
<div class="row">
    <% @arts.each do |art| %>
      <div class="col-md-3">
        <h3>
        <%= image_tag art.image, class: 'img-fluid' %>
        <td><%= art.title %></td>
        </h3>
        <h4>
        <td><%= art.date %></td>
        </h4>
        <td><%= simple_format art.description%></td>
        <td class="btn btn-default"><%= link_to 'Afficher', art %></td>
        <td class="btn btn-default"><%= link_to 'Editer', edit_art_path(art) %></td>
        <td class="btn btn-default"><%= link_to 'Supprimer', art, method: :delete, data: { confirm: 'Êtes vous certain ?' } %></td>
      </div>
    <% end %>
</div>

<%= link_to 'New Art', new_art_path %>
