<p id="notice"><%= notice %></p>
<center>
<h4>
  <strong>Titre:</strong>
  <%= @art.title %>
</h4>

<h4>
  <strong>Date:</strong>
  <%= @art.date %>
</h4>

<h4>
  <strong>Oeuvre:</strong>
  <br>
  <%= image_tag @art.image %>
</h4>

<h4>
  <strong>Description:</strong>
  <%= @art.description %>
</h4>

<%= link_to 'Edit', edit_art_path(@art) %> |
<%= link_to 'Back', arts_path %>
