<p id="notice"><%= notice %></p>

<h4>
  <strong>Titre:</strong>
  <%= link_to @art.title %> 
</h4>

<h4>
  <strong>Date:</strong>
  <%= @art.date %>
</h4>

<h4>
  <strong>Oeuvre:</strong>
  <br>
  <%= image_tag @art.image %>
</h4>

<h4>
  <strong>Description:</strong>
  <%= @art.description %>
</h4>

<h4 >
<strong>conti</strong>
<%= link_to @art.continent, @art.continent %>
</h4>

<%= link_to 'Editer', edit_art_path(@art) %> |
<%= link_to 'Retour', arts_path %>

